<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>UIAppFonts</key>
	<array>
		<string>SourceSansPro-Black</string>
		<string>SourceSansPro-BlackItalic</string>
		<string>SourceSansPro-Bold</string>
		<string>SourceSansPro-BoldItalic</string>
		<string>SourceSansPro-ExtraLight</string>
		<string>SourceSansPro-ExtraLightItalic</string>
		<string>SourceSansPro-Italic</string>
		<string>SourceSansPro-Light</string>
		<string>SourceSansPro-LightItalic</string>
		<string>SourceSansPro-Regular</string>
		<string>SourceSansPro-SemiBold</string>
		<string>SourceSansPro-SemiBoldItalic</string>
	</array>
</dict>
</plist>
